<section class="dashboard">
    <div class="wrapper dashboard__wrapper">
        <div class="profile dashboard__profile">
            <img src="./images/avatar.jpg" />
            <p class="profile__info">
                <span class="profile__first-name">Vitas</span>
                <span class="profile__last-name">Karna4</span>
            </p>
            <div class="button-setting">
                <button type="button" class="btn btn-primary"><img src="./icons/settings.svg" /></button>
            </div>
        </div>
        <div class="files-list dashboard__files-list">
            <div class="files-list__controls">
                <span>Controls: </span>
                <button type="button" class="btn btn-dark"><img src="./icons/plus.png" /></button>
            </div>
            <span>Personal file storage:</span>
        </div>
        <div class="courses-list dashboard__courses-list">
            <div>
                Какойто курс 1
                описание
            </div
            <div>
                Какойто курс 2
                описание
            </div>
        </div>
        
    </div>
</section>
