<div class="course">
    <div class="wrapper course__wrapper">
        <h1 class="course__title">Подготовка к аттестации специалиста по БДД 2022 в МУГАДН (Ространснадзор)</h1>
        <div class="theme-list course__theme-list">
            <div class="theme-list__theme-item">
                <h2 class="theme-item__title">
                    Тема 1. Нормативные акты и организация работы
                    по обеспечению БДД, в том числе в части режима
                    труда и отдыха водителей, буксировки транспортных средств
                </h2>
                <div class="theme-item__lecture">
                    <a asp-area="" asp-controller="Courses" asp-action="Lecture">
                        <img src="~/icons/theme.svg" />
                        <p>Информация по Теме 1</p>
                    </a>
                </div>
                <div class="theme-item__test">
                    <a asp-area="" asp-controller="Test" asp-action="Index">
                        <img src="~/icons/test.svg" />
                        <p>Итоговый тест тема 1</p>
                    </a>
                </div>
            </div>

            <div class="theme-list__theme-item">
                <h2 class="theme-item__title">
                    Тема 1. Нормативные акты и организация работы
                    по обеспечению БДД, в том числе в части режима
                    труда и отдыха водителей, буксировки транспортных средств
                </h2>
                <div class="theme-item__lecture">
                    <a asp-area="" asp-controller="Courses" asp-action="Lecture">
                        <img src="~/icons/theme.svg" />
                        <p>Информация по Теме 1</p>
                    </a>
                </div>
                <div class="theme-item__test">
                    <a asp-area="" asp-controller="Test" asp-action="Index">
                        <img src="~/icons/test.svg" />
                        <p>Итоговый тест тема 1</p>
                    </a>
                </div>
            </div>

            <div class="theme-list__theme-item">
                <h2 class="theme-item__title">
                    Тема 1. Нормативные акты и организация работы
                    по обеспечению БДД, в том числе в части режима
                    труда и отдыха водителей, буксировки транспортных средств
                </h2>
                <div class="theme-item__lecture">
                    <a asp-area="" asp-controller="Courses" asp-action="Lecture">
                        <img src="~/icons/theme.svg" />
                        <p>Информация по Теме 1</p>
                    </a>
                </div>
                <div class="theme-item__test">
                    <a asp-area="" asp-controller="Test" asp-action="Index">
                        <img src="~/icons/test.svg" />
                        <p>Итоговый тест тема 1</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
