<div class="lecture">
    <div class="wrapper lecture__wrapper">
        <h1 class="course__title">Подготовка к аттестации специалиста по БДД 2022 в МУГАДН (Ространснадзор)</h1>

        <div class="lecture__container">
            <h2 class="lecture__title">Информация по Теме 1</h2>
            <div class="lecture__text">
                В теме 1. "Нормативные акты и организация работы по обеспечению БДД, в том числе в части режима труда и отдыха водителей, буксировки транспортных средств".

                Используются следующие нормативные документы:

                Федеральный закон от 10 декабря 1995 г. N 196-ФЗ "О безопасности дорожного движения".
                Приказ Минтранса России от 28.10.2020 N 440 "Об утверждении требований к тахографам, устанавливаемым на транспортные средства, категорий и видов транспортных средств, оснащаемых тахографами, правил использования, обслуживания и контроля работы.
                Приказ Минтранса России от 02.10.2020 № 404 "Об утверждении Особенностей режима рабочего времени и времени отдыха водителей трамвая и троллейбуса"
                Приказ Минтранса России от 16.10.2020 № 424 "Об утверждении Особенностей режима рабочего времени и времени отдыха, условий труда водителей автомобилей"
                Правила дорожного движения Российской Федерации. п.20. Буксировка механических транспортных средств (п.п. 20.1 - 20.4).

                Вопрос 1. Анализировать и устранять причины дорожно-транспортных происшествий и нарушений правил дорожного движения с участием принадлежащих им транспортных средств обязаны (выберите правильный ответ):

                1.      федеральные органы исполнительной власти в области обеспечения безопасности дорожного движения, осуществляющие контроль за автомобильными перевозками на подведомственной им территории

                2.      юридические лица и индивидуальные предприниматели, осуществляющие эксплуатацию транспортных средств

                3.      Федеральная служба государственной статистики Российской Федерации

                4.      Правительственная комиссия по обеспечению безопасности дорожного движения


                Комментарий:

                (Правильный ответ: 2)

                196-ФЗ Статья 20. ч.1. Юридические лица и индивидуальные предприниматели, осуществляющие на территории Российской Федерации деятельность, связанную с эксплуатацией транспортных средств, обязаны:

                - анализировать и устранять причины дорожно-транспортных происшествий и нарушений правил дорожного движения с участием принадлежащих им транспортных средств;


                Вопрос 2. Укажите, какое требование не является обязательным для юридических лиц и индивидуальных предпринимателей, осуществляющих эксплуатацию транспортных средств:

                1.      не допускать транспортные средства к эксплуатации при наличии у них неисправностей, угрожающих безопасности дорожного движения

                2.      обеспечивать соответствие технического состояния транспортных средств требованиям безопасности дорожного движения

                3.      назначать ответственного за обеспечение безопасности дорожного движения, прошедшего аттестацию на право заниматься соответствующей деятельностью в порядке, установленном федеральным органом исполнительной власти, осуществляющим функции по выработке государственной политики и нормативно-правовому регулированию в сфере транспорта;

                4.      обеспечивать исполнение установленной федеральным законом обязанности по страхованию гражданской ответственности владельцев транспортных средств

                Комментарий:

                (Правильный ответ: 3)

                № 196-ФЗ, Статья 20, п. 2﻿



                Вопрос 3. Требование об обязательном оснащении транспортных средства тахографами относится (выберите правильный ответ):

                1.      к транспортным средствам категорий N2 и N3, эксплуатируемым юридическими лицами и индивидуальными предпринимателями

                2.      к транспортным средствам категории М2 и М3, осуществляющим регулярные перевозки пассажиров

                3.      к транспортным средствам категории М1, используемым для перевозки пассажиров в такси и имеющим, помимо места водителя, не более восьми мест для сидения

                4.      к транспортным средствам категории N1 для перевозки денежной выручки и ценных грузов


                Комментарий:

                (Правильный ответ: 1)

                Приказ Минтранса РФ от 28.10.2020 № 440, Приложение 2﻿


                Вопрос 4. Какое требование не относится к юридическим лицам и индивидуальным предпринимателями, осуществляющим перевозки для собственных нужд легковыми автомобилями?

                1. организовывать в соответствии с требованиями Федерального закона от 21 ноября 2011 года № 323-ФЗ "Об основах охраны здоровья граждан в Российской Федерации" проведение обязательных медицинских осмотров и мероприятий по совершенствованию водителями транспортных средств навыков оказания первой помощи пострадавшим в дорожнотранспортных происшествиях;

                2. обеспечивать соответствие технического состояния транспортных средств требованиям законодательства Российской Федерации о безопасности дорожного движения и законодательства Российской Федерации о техническом регулировании, а также требованиям международных договоров Российской Федерации и не допускать транспортные средства к эксплуатации при наличии у них неисправностей, при которых эксплуатация транспортных средств запрещена;

                3. организовывать и проводить предрейсовый или предсменный контроль технического состояния транспортных средств в порядке, установленном федеральным органом исполнительной власти, осуществляющим функции по выработке государственной политики и нормативно-правовому регулированию в сфере транспорта;
            </div>
        </div>
    </div>
</div>
