.search-box{
  form {
    display: flex;
    gap: 5px;
  }
  button {
    background-color: $color-primary-light;
    //color: white;
  }

  button:hover {
    background-color: darken($color-primary-light, 60%);
    color: white;
  }
}