.course {
  padding-top: 40px;


}

.course__title {
  font-size: 40px;
  margin-bottom: 30px;
}

.theme-list__theme-item{
  margin-bottom: 25px;

  .theme-item__title {
    margin-bottom: 15px;
  }

  .theme-item__lecture {
    width: max-content;
    margin-bottom: 10px;
    margin-left: 15px;
    a {
      display: flex;
      align-items: center;
    }
  }

  .theme-item__test {
    width: max-content;
    margin-bottom: 10px;
    margin-left: 15px;
    a {
      display: flex;
      align-items: center;
    }
  }
}