<div class="test">
    <div class="wrapper test__wrapper">
        <h1 class="course__title">Подготовка к аттестации специалиста по БДД 2022 в МУГАДН (Ространснадзор)</h1>

        <div class="question-container">
            <div class="test__question question">
                <div class="question__left-part">
                    <span>Вопрос N</span>
                    <span class="question__status">Пока нет ответа</span>
                    <span class="question__status" style="display: none;">Ответ сохранен</span>
                    <span>Балл: N</span>
                    <input type="checkbox" id="status" />
                    <label for="status">Не отмечено</label>
                </div>
                <div class="question__right-part">
                    <h4>Для транспортных средств с недействующей тормозной системой (не позволяющей водителю остановить транспортное средство) буксировка на жесткой сцепке запрещается (выберите правильный ответ):</h4>
                    <fieldset>
                        <legend>Выберите один ответ:</legend>
                        <div class="question__item">
                            <input type="radio" id="question1" name="question">
                            <label for="question1">id_question 1</label>
                        </div>
                        <div class="question__item">
                            <input type="radio" id="question2" name="question">
                            <label for="question2">id_question 2</label>
                        </div>
                        <div class="question__item">
                            <input type="radio" id="question3" name="question">
                            <label for="question3">id_question 3</label>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="test__navigation">
                <h4>НАВИГАЦИЯ ПО ТЕСТУ</h4>
                <div class="test__navigation-buttons">
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div><div>1</div>
                    <div>1</div>
                    <div>1</div>
                    <div>1</div>
                </div>
            </div>
        </div>
        <button class="btn">Предыдущий вопрос</button>
        <button class="btn">Следующий вопрос</button>
    </div>
</div>

