<div class="test">
    <div class="wrapper test__wrapper">
        <h1 class="course__title">Подготовка к аттестации специалиста по БДД 2022 в МУГАДН (Ространснадзор)</h1>

        <div class="test__container">
            <h2 class="test__title">Итоговый тест тема N</h2>
            <p>Метод оценивания: Высшая оценка</p>
            <a class="btn btn-primary" role="button" asp-area="" asp-controller="Test" asp-action="ActiveTest">Начать тест</a>
        </div>
    </div>
</div>
